
body {
	margin: 0;
	width: 100%;
}

.head1{
	background: #a3d4d0;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.tipo-mascota {
    text-align: center;
    font-size: 17px;
    margin-top: 1%;
}

#busqueda-tipo {
    margin-bottom: 14px;
}

/*
.mascota{
	max-width: 10%;
    min-width: 80px;
    align-content: center;
}
*/
 footer {
 	width: 100%;
 	background: #582c83;
 }

.Descubrenos{
	padding: 30px;
}

.titulo{
	font-family:arial;
	font-size: 17px;
	color: #fff;
}

.other{
	font-family:arial;
	font-size: 15px;
	color: #fff;
	text-decoration: underline;
}

.Legales {
	padding: 30px;
	align-content: left;
}

table {
	display: table;
	width: 100%;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 0px;
    border-color: #582c83;
    padding: 30px;
}

a {
	color: #fff;
	font-family:arial;
	font-size: 14px;
	text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

td {
	vertical-align: top;
	padding: 17px;
}


.derechos{
	background: #d45d00;
	width: 100%;
	
}

.all-rights {
	color: #fff;
	font-family:arial;
	font-size: 18px;
	text-decoration: none;
	text-align: right;
	font-style: normal;
	padding: 12px;
	margin-bottom: 0;
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-auto-rows: (80px) and (100);
	padding: 20px;
	grid-gap: 10px;
}

.gallery__img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.galery__item:nth-child(1){
	grid-column-start: span 1;
	grid-row-start: span 4;
}

.galery__item:nth-child(2){
	grid-column-start: span 2;
	grid-row-start: span 5;
}

.galery__item:nth-child(3){
	grid-column-start: span 1;
	grid-row-start: span 3;
}

.galery__item:nth-child(4){
	grid-column-start: span 1;
	grid-row-start: span 6;
}

.galery__item:nth-child(5){
	grid-column-start: span 1;
	grid-row-start: span 5;
}

.galery__item:nth-child(6){
	grid-column-start: span 2;
	grid-row-start: span 3;
	height: 85%;
	margin-top: 3%;
}

.galery__item:nth-child(7){
	grid-column-start: span 2;
	grid-row-start: span 4;
}

.galery__item:nth-child(8){
	grid-column-start: span 1;
	grid-row-start: span 3;
}

.galery__item:nth-child(9){
	grid-column-start: span 1;
	grid-row-start: span 3;
}

@media (max-width: 760px) {
	.gallery-container{
		grid-template-columns: repeat(2,1fr);
	}
	.galery__item:nth-child(1){
		grid-column-start: span 1;
		grid-row-start: span 3;
	}
	.galery__item:nth-child(2){
		grid-column-start: span 1;
		grid-row-start: span 3;
	}
}

